USE [master]
GO
/****** Object:  Database [bmis]    Script Date: 10/30/2021 8:37:19 AM ******/
CREATE DATABASE [bmis]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bmis', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\bmis.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bmis_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\bmis_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bmis].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bmis]
GO
USE [bmis]
GO
/****** Object:  Table [dbo].[tblResident]    Script Date: 10/30/2021 8:37:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblResident](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nid] [varchar](50) NULL,
	[lname] [varchar](50) NULL,
	[fname] [varchar](50) NULL,
	[mname] [varchar](50) NULL,
	[alias] [varchar](50) NULL,
	[bdate] [date] NULL,
	[bplace] [text] NULL,
	[age] [int] NULL,
	[civilstatus] [varchar](50) NULL,
	[gender] [varchar](50) NULL,
	[religion] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[contact] [varchar](50) NULL,
	[voters] [varchar](50) NULL,
	[precinct] [varchar](50) NULL,
	[purok] [varchar](50) NULL,
	[educational] [text] NULL,
	[occupation] [text] NULL,
	[address] [text] NULL,
	[category] [varchar](50) NULL,
	[house] [varchar](50) NULL,
	[head] [varchar](50) NULL,
	[disability] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[pic] [image] NULL,
 CONSTRAINT [PK_tblResident] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblVaccine]    Script Date: 10/30/2021 8:37:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVaccine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[rid] [int] NOT NULL,
	[vaccine] [varchar](50) NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK_tblVaccine] PRIMARY KEY CLUSTERED 
(
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[vwvaccination]    Script Date: 10/30/2021 8:37:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vwvaccination] as select r.id, r.lname, r.fname, r.mname, isnull(v.vaccine,'')vaccine, isnull(v.status,'NOT YET VACCINATED') status from tblresident r left join tblvaccine v on r.id = v.rid
GO
/****** Object:  Table [dbo].[tblOfficial]    Script Date: 10/30/2021 8:37:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOfficial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[chairmanship] [varchar](100) NULL,
	[position] [varchar](50) NULL,
	[termstart] [date] NULL,
	[termend] [date] NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK_tblOfficial] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPurok]    Script Date: 10/30/2021 8:37:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPurok](
	[purok] [varchar](50) NOT NULL,
	[chairman] [varchar](100) NULL,
 CONSTRAINT [PK_tblPurok] PRIMARY KEY CLUSTERED 
(
	[purok] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
